*
{
    padding: 0px;
    margin: 0px;
}  
html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    margin:0; /* new */
    }   
.container
{
    position: relative;
}       

.logo img
{

    height: 350px;
    width: 650px;
    margin: -100px;
    margin-left: -240px;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

/* main Styles */




body {
  

}

a { text-decoration: none; }

.container {
      
  margin-top: 0px;
  
  
}

/* Navigation Styles */

nav {
    width: 100%;
    
    background: #2ba0db; }

nav ul {
  font-size: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 15px 14px;
  transition: 0.5s linear;
}

nav ul li:hover { background: #126d9b
     }

nav ul li ul {
  border-bottom: 5px solid #2ba0db;
  display: none;
  position: absolute;
  width: 250px;
}

nav ul li ul li {
  border-top: 1px solid #444;
  display: block;
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
  background: #373737;
  display: block;
  padding: 20px 14px;
}

nav ul li ul li a:hover { background: #126d9b; }

nav .fa.fa-angle-down { margin-left: 0px; }

.register 
{

  padding: 6px;
  margin-top: 8px;
  padding-left:2px; 
  background: #2ba0db;
  font-size: 14px;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  float:right;
}
.register:hover
{
    color:rgb(56, 48, 48);
}
.furJeden
{
    position: absolute;
    font-size: 30px;
    text-align: left;
    margin-top:-90px;
    left: 420px;
    display: flex;
    flex-direction: column;
    color: rgb(136, 128, 128);
}
.banner
{
    height: 1000px;
    width: 100%;
    margin-top:60px ;
    background-image: url(images\\bg1.jpg);
    background-repeat: no-repeat;
    
}

.bannerDiv
{
  height: 100px;
  width: 100%;
  background-color: #444;
  margin-left:00px ;
  margin-top: -280px;
 float:right;
}

.ivestiert 
{
  left: 50%
  ;float:right;
  padding: 25px;
  color:white;
  margin-right: 600px;
  display: table-cell;
}

.kunden
{
  display: table-cell;
  float: right;
  padding: 25px;
  color:white;
  margin-left: 20px;
}
.ivestiert  h3
{
  margin-left:15px ;
}
.kapital
{
  float: right;
  display: table-cell;
  margin-left: 200px;
  padding: 25px;
  color:white;
}
.Financed
{
  display: table-cell;
  margin-top: -90px;
  padding: 25px;
  color:white;
  margin-right: 400px;
  float: right;
}
.Financed h3
{
 margin-left: 25px;
}
.kapital h3
{
  margin-left: 25px;
}



.imageText p
{
  font-size: 30px;
  text-align: center;
  margin-top: -120px;
}
div.gallery {
  margin-left: 30px;
  margin-top: -80px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 400px;
  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.image
{
  margin-left: 300px;
}