*
{
    padding: 0px;
    margin: 0px;
}  
html, body {
    
    }   
.container
{
    position: relative;
}       

.logo img
{

    height: 350px;
    width: 650px;
    margin: -200px;
    margin-left: 320px;
    display: inline;
}

.sideText
{
  margin-top: 20px;
}
.explore
{
  display:inline-block;
  vertical-align:middle;
  font-size: 20px;
  padding: 5px;
 
}


.project
{
  display:inline-block;
    vertical-align:middle;
  padding: px;
  font-size: 20px;
  margin: 30px;
  top: 20px;
}

.login
{
  background-color: Transparent;
  background-repeat:no-repeat;
  display:inline-block;
  vertical-align:middle;
  float: right;
  padding: 10px;
  margin: 10px;
  margin-top: -39px;
  border: none;
  outline:none;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  transition: color 0.5s;
  cursor: pointer;
  
}
.login:hover {
  color:  #2ba0db;
}

/* Navigation Styles */


a { text-decoration: none; }

.container {
  width: 100%;
  margin: auto;
  padding-left: 100px;
  margin-top: 20px;
}

nav {
  width: 100%;

  background: #2ba0db; }

nav ul {
font-size: 0;
margin: 60;
padding: 0;
}

nav ul li {
display: inline-block;
position: relative;
margin-left: 100px;
}

nav ul li a {
color: #fff;
display: block;
font-size: 14px;
padding: 15px 14px;
transition: 0.3s linear;
text-decoration: none;
}

nav ul li:hover { background: #126d9b; }

nav ul li ul {
border-bottom: 5px solid #2ba0db;
display: none;
position: absolute;
width: 250px;
}

nav ul li ul li {
border-top: 1px solid #444;
display: block;
}

nav ul li ul li:first-child { border-top: none; }

nav ul li ul li a {
background: #373737;
display: block;
padding: 20px 14px;
}

nav ul li ul li a:hover { background: #126d9b; }

nav .fa.fa-angle-down { margin-left: 0px; }


.furJeden
{
    position: absolute;
    font-size: 30px;
    text-align: left;
    margin-top:-30px;
    color: #374349;
    display: flex;
    flex-direction: column;
} 
.invest
{
 margin-top: -50px; 
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.invest h2 {
  font-size: 48px;
  color: #614242;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  display: inline;
  background-image: linear-gradient(#fff 60%,  #40aee6 40%);
  text-align: center;
  margin-left: 250px;
  margin-top: -100px;
}
.firstImage
{
  margin-left: 50px;
  margin-top: 80px;
  height: 650px;
  width: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;

}

.firstImage img
{
  height: 400px;
  width: 100%;
  border-bottom:10px solid #777777;
}
.firstImage p
{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical{
  border-left: 2px solid rgb(182, 185, 182);
  height: 600px;
  margin-left: 770px;
  margin-top: -715px;
}

.frame{  
  width: 530px;
  height: 200px;
  margin: -20px;
  
  position: relative;
  margin-left: 60%;
  top: -505px;
}    
.frame img{  
  height: 150px;  
  width: 300; 
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: -210;  
  right: 0;  
  margin: auto;
}
.frame p
{
  float: right;
  
  margin-left: 100px;
  margin-top: 40px;
  font-size: 15px;
  overflow: hidden;
}

.per p
{
  color: #2ba0db;
  margin-left: 100px;
  margin-top: 40px;
  font-size: 15px;
}

.subcriber
{
  }

.horizontally 
{
  border-bottom: 2px solid rgb(182, 185, 182);
 margin-top: -450px;
  width:100%;
  text-align:left;

}
.discover p 
{
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
  
}

.receive p
{
  font-size: 20px;
  text-align: center;
  margin-left: 350px;
  margin-top: 20px;
}
.email input
{
  height: 30px;
  width: 300px;
  margin-left: 350px;
  margin-top: 20px;
}

.Subscribe input
{
  margin-left: 680px;
  margin-top: -23px;
}

.horizontallyDown 
{
  border-bottom: 2px solid rgb(182, 185, 182);
 margin-top: 100px;
  width:100%;
  text-align:left;
}